In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import os

% matplotlib inline
plt.rcParams['figure.figsize'] = 16,6
plt.rcParams['xtick.color'] = 'w'  
plt.rcParams['ytick.color'] = 'w'  
mpl.style.use('ggplot')

In [2]:
path = r'/Users/zhaofei/git/rul_prediction_model2_master_thesis/model_saved/preds_labels'
file_name_1 = r'92320190610104827_pred_and_label.txt'
file_name_2 = r'92420190609205225_pred_and_label.txt'

In [3]:
file1 = pd.read_csv(os.path.join(path, file_name_1), header=None, sep=" ")

In [4]:
file1

             0     1
0    70.430138  69.0
1    74.642540  82.0
2   112.190918  93.0
3    97.096252  91.0
4   100.337318  95.0
..         ...   ...
65   59.322063  85.0
66   55.199345  55.0
67   89.165306  82.0
68   60.168930  59.0
69   24.584448  20.0

[70 rows x 2 columns]

In [5]:
file2 = pd.read_csv(os.path.join(path, file_name_2), header=None, sep=" ")

In [6]:
file2

             0     1
0    67.602043  69.0
1    70.530518  82.0
2   108.977211  93.0
3   101.078300  91.0
4    99.651787  95.0
..         ...   ...
65   59.930325  85.0
66   52.636208  55.0
67   87.032402  82.0
68   62.013878  59.0
69   20.542561  20.0

[70 rows x 2 columns]

In [7]:
labels = file1.get_values()[:, 1]

/Users/zhaofei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.values' or 'np.asarray(..)' instead.
  """Entry point for launching an IPython kernel.

In [8]:
pre1 = file1.get_values()[:, 0]
pre2 = file2.get_values()[:, 0]
pre = (pre1 + pre2) / 2

/Users/zhaofei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.values' or 'np.asarray(..)' instead.
  """Entry point for launching an IPython kernel.
/Users/zhaofei/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.values' or 'np.asarray(..)' instead.

In [9]:
def rmse(pres, labels):
    return np.sqrt(np.sum((pres - labels) ** 2)/len(pres))

In [12]:
rmse(pre, labels)

9.066607621417317